{{#with data}}
        <div class="featured_content">
            <img src="{{photo}}" alt="Photo featured" class="featured_image">
            <h2 class="featured_title">{{heading}}</h2>
            <p class="featured_info">{{info}}</p>
            <a href="{{linkUrl}}" class="featured_link">{{linkText}}</a>
        </div>
{{/with}}